In [3]:
import pandas as pd

# Örnek veri kümesini oluşturalım
data = {'ID': [1, 2, 3, 4],
        'Cinsiyet': ['Erkek', 'Kadın', 'Erkek', 'Kadın'],
        'Sınıf': ['11. Sınıf', '10. Sınıf', '12. Sınıf', '11. Sınıf'],
        'Şehir': ['İstanbul', 'Ankara', 'İzmir', 'Bursa']}

df = pd.DataFrame(data)

print(df)

   ID Cinsiyet      Sınıf     Şehir
0   1    Erkek  11. Sınıf  İstanbul
1   2    Kadın  10. Sınıf    Ankara
2   3    Erkek  12. Sınıf     İzmir
3   4    Kadın  11. Sınıf     Bursa

In [4]:
# "One-Hot Encoding" işlemi
df_encoded = pd.get_dummies(df, columns=['Cinsiyet', 'Sınıf', 'Şehir'])

print(df_encoded)

   ID  Cinsiyet_Erkek  Cinsiyet_Kadın  Sınıf_10. Sınıf  Sınıf_11. Sınıf  \
0   1               1               0                0                1
1   2               0               1                1                0
2   3               1               0                0                0
3   4               0               1                0                1

   Sınıf_12. Sınıf  Şehir_Ankara  Şehir_Bursa  Şehir_İstanbul  Şehir_İzmir
0                0             0            0               1            0
1                0             1            0               0            0
2                1             0            0               0            1
3                0             0            1               0            0

- **pd.get_dummies()** fonksiyonu, kategorik (sınıflandırılmış) verileri sayısal verilere dönüştürmek için kullanılır. Bu, özellikle makine öğrenimi modellerinin bu tür verilerle çalışmasını kolaylaştırır.
Her bir benzersiz değer, bir kategori olarak kabul edilir ve bu kategorinin olup olmadığını belirlemek için 1 (var) veya 0 (yok) kullanır.